{% extends 'Student/navbar.html' %}

{% block body %}
	<table  class="table" border=1>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Age</th>
				<th>Branch</th>
				<th>Email</th>
			</tr>

	{% for i in data %}
		<tr>
			<td>{{i.First_name}}</td>
			<td>{{i.Last_name}}</td>
			<td>{{i.Age}}</td>
			<td>{{i.branch}}</td>
			<td>{{i.Email}}</td>
			<td class="btn btn-warning"><a href="{%url 'edit' i.id%}"> Edit</a> </td>
			<td class="btn btn-danger"><a href="{%url 'delete' i.id%}"> delete</a> </td>
			
		</tr>
	{% endfor %}
	</table>
{% endblock %}